.interface-img{
width: 10%;
height: 500%;
z-index: -1;
}

.botao{
position: relative;
font-size: 15px;
background-color: rgb(255, 255, 255);
padding: 9px;
display: inline;
border: 1px solid black;
color: black;
border-radius: 5px;
}

.botao:hover{
    color: aliceblue;
    background-color: black;

}

.botao1{
    position: relative;
    font-size: 15px;
    background-color: rgb(94, 105, 255);
    padding: 9px;
    display: inline;
    border: 1px solid rgb(123, 9, 216);
    color: rgb(255, 255, 255);
    border-radius: 5px;
    }
    
    .botao1:hover{
        color: rgb(123, 9, 216);
        background-color: rgb(255, 255, 255);
    
    }

.botao2{
  position: relative;
  font-size: 15px;
  background-color: rgb(94, 105, 255);
  padding: 17px;
  display: inline;
  border: 1px solid rgba(123, 9, 216, 0);
  color: rgb(255, 255, 255);
  border-radius: 5px;
  margin-left: 60px;
  }
  
  .botao2:hover{
      color: rgb(123, 9, 216);
      background-color: rgb(255, 255, 255);
      border: 1px solid rgb(123, 9, 216);
  
  }

  
nav {
    
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
  }
  
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    margin-left: 300px;
  }
  
  li {
    margin-left: 17px;
  }
  
  li:first-child {
    margin-left: 0;
  }

  a{
    text-decoration: none;
    color: rgba(35, 35, 36, 0.507);
    font-size: 17px;
  }

  .rx:hover{
    border-bottom:rgb(123, 9, 216) ;
  }

.D {
    margin-top: 100px;
    position: absolute;
    margin-left: 640px;
  }

  .titulo{
    color: black;
    font-size: 55px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-top: 80px;
    margin-left: 60px;
  }
  .sobre{
    color: rgba(0, 0, 0, 0.459);
    font-size: 20px;
    margin-left: 60px;
  }

  .bt{
    
  }
  
  body {
    background-color: rgba(85, 85, 85, 0.021);
    margin: 0;
  }

  .LOGORP {
    width: 10%;
    height: 500%;
    color: white;
  }

  .FOT {
    background-color: #0B0F1A ;
    padding: 20px;
    padding-bottom: 100px;
    padding-top: 80px;

  }

  .P {
    color: rgb(216, 216, 216);
  }

.cof{
  color: rgba(0, 0, 0, 0.719);
  font-size: 22px;
  margin-left: 60px;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.cop {
  color: rgb(216, 216, 216);
  display: inline;
}

.CONT {
  color: white;
  padding-left: 500px;
}

.th{
  text-decoration: none;
  color: rgba(35, 35, 36, 0.507);
  font-size: 17px;
  margin-top: 19px;

}
.th1{
  text-decoration: none;
  color: rgba(35, 35, 36, 0.507);
  font-size: 17px;
  margin-top: 19px;
}

.th2{
  text-decoration: none;
  color: rgba(35, 35, 36, 0.507);
  font-size: 17px;
  margin-top: 19px;
}

.tht{
  text-decoration: none;
  color: rgba(35, 35, 36, 0.507);
  font-size: 17px;
  margin-top: 19px;

}


.three{
  display: inline;
}

.menu{
  margin-top: 19px;
}

.asd{
  margin-left: 18px;
}


.menu1{
  color: rgba(0, 0, 0, 0.884);
  position: absolute;
  margin-top: 19px;
  font-size: 24px;
  margin-left: 140px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
 
}

.esp{
  margin-left: 10px;
  font-weight: bold;
}

.esc{
  font-size: 15px;
  color: black;
  font-family: Arial, Helvetica, sans-serif;
  margin-left: 5px;
}

.des{
  margin-left: 70px;
  font-weight: bold;
  font-size: 35px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.fun{
  background-color: rgb(255, 255, 255);
  position: relative;
}

.dea{
  position: relative;
  font-size: 15px;
  color: black;
  font-family: Arial, Helvetica, sans-serif;
  margin-left: 5px;
  display: inline;
}

.sub{
  margin-left: 70%;
  margin-bottom: 150px;
  
}


.im{
  position: relative;
  margin-left: 110px;
  margin-top: 10px;
  z-index: 1;
}

.fun2{
  background: linear-gradient(to bottom right, #9b4dca, #ff69b4);
  position: relative;
  border-radius: 14px;
  margin-left: 150px;
  margin-right: 70px;
  margin-bottom: 75px;
  margin-top: 10px;
}
